#cpcopyright {
font:normal 11px Arial;color: #a1a1a1; width: 100%; background-color: #fff;
text-align: center;
padding-top: 5px;
padding-bottom: 5px;
}

#cpcopyright a:link, #cpcopyright a:visited, #cpcopyright a:hover{
font-weight: bold;
color:#ff9a00;
text-decoration: none;
}


#cpcopyright a:hover{
color:#ffcc00;
}

.asterisk {
    color: #00529B;
}