@charset "UTF-8";
/* CSS Document */
	
	
/* ______________________________________________________________
   __________________________ Affiliate Mockup _______________________ */
	
html, body {
	font-family: Arial, Helvetica, sans-serif; 
	margin:0; 
	padding:0; 
	text-align:center; 
	background: #fff; 
	height:100%; 
	width: 100%;
	font-size:small;
	min-width:990px;
	font-size: x-small; /* IE5 Win */
	voice-family: "\"}\""; 
	voice-family: inherit;
	font-size: small;
}
	
html>body { /* be nice to Opera */
	height:100%; 
	width: 100%;
	font-size: small;
	}
	
strong { font-weight:bold;}

.border { 
	background:url('http://media1.clubpenguin.com/play/en/images/game-border.gif') no-repeat;
	width:784px;
	height:502px;
	margin: 0px auto;
	padding: 10px 0 0 0;
	text-align: center;
	background-color:
	}
	
/* Main Layout
________________________________________________________*/

#affiliateheader {
width: 100%;
margin: 0px auto 5px;
text-align: left;
}

#affiliatefooter {
margin: 5px auto 0px;
clear: both;
width: 100%;
text-align: left;
}

#club_penguin {
	width:100%;
	height:100%;
	min-height:480px;
	min-width:760px;
	display:block;
	outline:none;
	clear: both;
	position: absolute;
	top: 0;
	left: auto;
}

/*Main Elements
_______________________________________________________*/
	
/* HTML Navigation */
	
#hdrWrap{/*This houses the main background for the home page Flash navigation*/
	position: relative;
	height:32px !important;
	width: 100%;
	margin:0 0 25px 0; 
	background: url('http://media1.clubpenguin.com/play/en/images/playNavBg.gif') 0 0 repeat-x;
	z-index:4;
	overflow: hidden;
}

#htmlNav{/*This houses the main HTML navigation*/
	width:842px;
	height:32px !important;
	margin: 0 auto;
	position: relative;
	top: 0px;
	z-index:1;
	overflow: hidden;
}

#hdrFlashWrap{/*This houses the main background for the home page Flash navigation*/
	position: relative;
	height:64px !important;
	width: 100%;
	margin:0 0 25px 0; 
	z-index:4;
	overflow: hidden;
}

#flashNav {/*This houses the main Flash navigation*/
	
	background: url('http://media1.clubpenguin.com/play/en/images/flashnav-bg.png') 100% 0 no-repeat;
	width:960px;
	height:64px !important;
	margin: 0 auto;
	position: relative;
}

#flashNavMiniclip {/*This houses the main Flash navigation for miniclip*/
	width:960px;
	height:64px !important;
	margin: 0 auto;
	position: relative;
	background: url('http://media1.clubpenguin.com/play/en/images/flashnav-bg-miniclip.gif') 100% 0 no-repeat;
}

#bigscreen, #smallscreen {
	position: absolute;
	top: 2px;
	right: 329px;
	width: 97px;
}

#sm_screen_button a, #sm_screen_button_fr a, #sm_screen_button_pt a, #sm_screen_button_es a, #sm_screen_button_de a, #sm_screen_button_ru a {
	background-image:url('http://media1.clubpenguin.com/play/en/images/button_small_screen.gif');
	background-position:0pt 0px;
	background-repeat:no-repeat;
	display:block;
	float:right;
	height:22px;
	width:100px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
}

#sm_screen_button_de a {
	background-image:url('http://media1.clubpenguin.com/play/en/images/button_small_screen.gif');
}

#sm_screen_button_ru a {
	background-image:url('http://media1.clubpenguin.com/play/en/images/button_small_screen.gif');
}		
	
#sm_screen_button_fr a {
	background-image:url('http://media1.clubpenguin.com/play/en/images/button_small_screen.gif');
}

#sm_screen_button_pt a {
	background-image:url('http://media1.clubpenguin.com/play/en/images/button_small_screen.gif');
}

#sm_screen_button_es a {
	background-image:url('http://media1.clubpenguin.com/play/en/images/button_small_screen.gif');
}

#sm_screen_button a:hover, #sm_screen_button_fr a:hover, #sm_screen_button_pt a:hover, #sm_screen_button_es a:hover, #sm_screen_button_de a:hover, #sm_screen_button_ru a:hover {
background-position:0pt -30px;
}

#sm_screen_button a:active, #sm_screen_button_fr a:active, #sm_screen_button_pt a:active, #sm_screen_button_es a:active, #sm_screen_button_de a:active, #sm_screen_button_ru a:active {
background-position:0pt -30px;
}

#big_screen_button a, #big_screen_button_fr a, #big_screen_button_pt a, #big_screen_button_es a, #big_screen_button_de a, #big_screen_button_ru a {
	background-image:url('http://media1.clubpenguin.com/play/en/images/button_big_screen.gif');
	background-position:0pt 0px;
	background-repeat:no-repeat;
	display:block;
	float:right;
	height:22px;
	width:100px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
}

#big_screen_button_de a {
	background-image:url('http://media1.clubpenguin.com/play/en/images/button_big_screen_de.gif');
}

#big_screen_button_ru a {
	background-image:url('http://media1.clubpenguin.com/play/en/images/button_big_screen_ru.gif');
}

#big_screen_button_fr a {
	background-image:url('http://media1.clubpenguin.com/play/en/images/button_big_screen_fr.gif');
}

#big_screen_button_pt a {
	background-image:url('http://media1.clubpenguin.com/play/en/images/button_big_screen_pt.gif');
}

#big_screen_button_es a {
	background-image:url('http://media1.clubpenguin.com/play/en/images/button_big_screen_es.gif');
}

#big_screen_button a:hover, #big_screen_button_fr a:hover, #big_screen_button_pt a:hover, #big_screen_button_es a:hover, #big_screen_button_de a:hover, #big_screen_button_ru a:hover{
background-position:0pt -30px;
}

#big_screen_button a:active, #big_screen_button_fr a:active, #big_screen_button_pt a:active, #big_screen_button_es a:active, #big_screen_button_de a:active, #big_screen_button_ru a:active{
background-position:0pt -30px;
}

	
#logoff{
	position: absolute;
	top: 7px;
	font-weight:bolder;
	right: 0px;
	font-size: 11px;
}
	
#logoff a, #logoff a:link, #logoff a:visited{
  color: #fff;
	display: block;
	border: none;
	text-decoration: none;
	font-size:11px;
}

#logoff a:hover{
  color: #feb62a;
	display: block;
	border: none;
	text-decoration: none;
}

#logoffFlash{
	position: absolute;
	top: 8px;
	font-weight:bolder;
	right: 24px;
	font-size: 11px;
}
	
#logoffFlash a, #logoffFlash a:link, #logoffFlash a:visited{
  color: #fff;
	display: block;
	border: none;
	text-decoration: none;
	font-size:11px;
}

#logoffFlash a:hover{
  color: #feb62a;
	display: block;
	border: none;
	text-decoration: none;
}

#logoffFlash a.gameforum, #logoffFlash a.gameforum:link, #logoffFlash a.gameforum:visited{
  color: #003366;
	display: block;
	border: none;
	text-decoration: none;
	font-size:11px;
}

#logoffFlash a.gameforum:hover{
  color: #ff810f;
	display: block;
	border: none;
	text-decoration: none;
}

#navBg ul#bu_nav{
	position: absolute;
	top: 6px;
	left: 2px;
	display: block;
	list-style: none;
	height:auto;
	width: auto;
	text-align: left;
	overflow: hidden;
}

#navBg ul#bu_nav li{
	display: inline;
	list-style: none;
	margin:0 2px 0 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight: 700;
	color:#feb62a;
	overflow:hidden;
}
#navBg ul#bu_nav .noMarg{
	margin:0;
}
	
#navBg ul#bu_nav li a, #navBg ul#bu_nav li a:link, #navBg ul#bu_nav li a:visited{
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		font-weight: 700;
		color:#fff;
		text-decoration: none;
	}

#navBg ul#bu_nav li a:hover{
		font-family:Arial, Helvetica, sans-serif;
		color:#feb62a;
		text-decoration: none;
	}

#navBg ul#bu_nav li .active{
		color:#fff;
	}
		
.langselect {
top: 1px; background-image: url('http://media1.clubpenguin.com/play/en/images/language_bg.gif'); background-repeat: no-repeat;background-position: 0px 2px; position: absolute; right: 55px; width: 249px; height: 23px;
}

.langselectFlash {
top: 1px; background-image: url('http://media1.clubpenguin.com/play/en/images/select-lang-drop-down-flash.gif'); background-repeat: no-repeat;background-position: 0px 0px; position: absolute; top: 29px; right: -25px; width: 249px; height: 30px;
}

.langselectfield {
color:#666; font-family:Arial,Helvetica,sans-serif; font-weight: bold; font-size: 10px; margin-top: 3px;
}

.langselectgobutton {
outline: none; margin-top: -3px; vertical-align:top;
}

.langselectlabel {
color:#fff; font-family:Arial,Helvetica,sans-serif; font-weight: bolder; font-size: 11px; padding-left: 7px;
}

.langselectlabelFlash {
color:#fff; font-family:Arial,Helvetica,sans-serif; font-weight: bolder; font-size: 11px; padding-left: 10px; padding-top: 2px;
}		

/* Footer Elements */
	
	/* Nav */
	#ftrBg ul{
	position: absolute;
	top: 38px;
	left: 145px;
	display: block;
	list-style: none;
	height:auto;
	width: 625px;
	text-align: center;
	}
	#ftrBg ul li{
		display: inline;
		list-style: none;
		margin:0 1px 0 0;
		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
		font-weight: 800;
		color:#b4b4b4;
	}
	#ftrBg ul .noMarg{
		margin:0;
	}
		#ftrBg ul li a, #ftrBg ul li a:link, #ftrBg ul li a:visited{
			font-family:Arial, Helvetica, sans-serif;
			font-size:11px;
			font-weight: 700;
			color:#b4b4b4;
			text-decoration: none;
		}
		#ftrBg ul li a:hover{
			font-family:Arial, Helvetica, sans-serif;
			color:#045aa1;
			text-decoration: none;
		}
		#ftrBg ul li .active{
			color:#5ad0fa;
		}
	
	#ftrBg p{
	position: absolute;
	top: 69px;
	left: 223px;
	height:auto;
	width: 460px;
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10.5px;
	color:#a1a1a1;
	}

#ftrWrap{
	position: relative;
	top: -8px;
	left:0;
	height:auto;
	width: 936px;
	margin: 0 auto;
}
	
#ftrBg{
	height:auto;
	width: 936px;
	margin: 0 auto;
}

#ftrContent{
	height:auto;
	width: 936px;
	margin: 0 auto;
}

img{
	border: none !important;
}

#disGame{
	display: block;
	position: absolute;
	top: 32px;
	left: 0;
}

.asterisk {
color: #00529B;
}

.updated {
font-size: 10px;
}

/* BELOW can be used to change the color of the Privacy Policy and Terms of Use links in the footer when necessary */

#ftrContent ul li a.new:link{color:#ff9a00;}
#ftrContent ul li a.new:visited{color:#ff9a00;}
#ftrContent ul li a.new:hover{color:#ffcc00;}
#ftrContent ul li a.new:active{color:#ff9a00;}

