body {
	font-family:"Myriad Web Pro", Arial, Verdana;
}


#rules-container {
	background:url('http://media1.clubpenguin.com/play/en/images/activation-rules-container.png') 0 0 no-repeat;
	width:375px;
	height:58px;
	position:absolute;
	left:19px;
	top:159px;
	padding:15px;
	font-size:13px;
}

 #rules {
	background:url('http://media1.clubpenguin.com/play/en/images/club-penguin-rules-tall.png') 0 0 no-repeat;
	width:437px;
	height:323px;
	position:relative;
	z-index:1020;
}


#warning {
	width:400px;
	height:40px;
	position:absolute;
	z-index:20;
	top:265px;
	left:15px;
	font-size:11px;
	color:#696969;
	padding:5px;
}

#rules-container p.title{
	color:#335dac;
	font-weight:bold;
}

#rules-container p {
	color:#427dc7;
}

#rules ul {
	padding-left:19px;
	padding-top:54px;
}

#rules ul li {
	background:url('http://media1.clubpenguin.com/play/en/images/rule-tile-fpo.jpg') 0 0 no-repeat;
	width:97px;
	height:106px;
	float:left;
	display:block;
	text-indent:-9999px;
	line-height:0;
	margin-right:3px;
	cursor:pointer;
}

#rules ul li#r0 {
	background:url('http://media1.clubpenguin.com/play/en/images/rule-tile-0.png') 0 0 no-repeat;
}
#rules ul li#r1 {
	background:url('http://media1.clubpenguin.com/play/en/images/rule-tile-1.png') 0 0 no-repeat;
}
#rules ul li#r2 {
	background:url('http://media1.clubpenguin.com/play/en/images/rule-tile-2.png') 0 0 no-repeat;
}
#rules ul li#r3 {
	background:url('http://media1.clubpenguin.com/play/en/images/rule-tile-3.png') 0 0 no-repeat;
}

#rules ul li.active {
	background:url('http://media1.clubpenguin.com/play/en/images/rule-tile-fpo-active.jpg') 0 0 no-repeat;
	width:97px;
	height:105px;
	float:left;
	display:block;
	text-indent:-9999px;
	line-height:0;
	margin-right:3px;
}

#rules ul li#r0.active {
	background:url('http://media1.clubpenguin.com/play/en/images/rule-tile-0-active.png') 0 0 no-repeat;
}
#rules ul li#r1.active {
	background:url('http://media1.clubpenguin.com/play/en/images/rule-tile-1-active.png') 0 0 no-repeat;
}
#rules ul li#r2.active {
	background:url('http://media1.clubpenguin.com/play/en/images/rule-tile-2-active.png') 0 0 no-repeat;
}
#rules ul li#r3.active {
	background:url('http://media1.clubpenguin.com/play/en/images/rule-tile-3-active.png') 0 0 no-repeat;
}

#D_F_GameSection {
  width: 100%;
  height: 95%;
  min-height: 550px; /*Increased to match mp client small screen*/
  min-width: 800px; /*Increased to match mp client small screen*/
  display: block;
  outline: none;
  clear: both;
  overflow: hidden;
  position: relative;
}
#upgrade {
  display:none;
}		
#MPClient {
  margin: 0 auto;
  padding: 0;
}

#BannerContainer 
{
  width:100%;
  height:0px;
  min-width: 760px;
  display: block;
  outline: none;
  clear: both;
  background-image: url('http://media1.clubpenguin.com/play/en/images/trialbanner/bar-bg.png');
  background-repeat: repeat-x;
  overflow:hidden;
}	
#BannerContainer.pre-activated {
  background:url('http://media1.clubpenguin.com/play/en/images/pre-activated-banner-bg.png') 0 0 repeat-x;
}

#TrialBanner, #pre-activated-banner
{		
  width: 842px;		
  min-width: 760px;	
  margin-left:auto;
  margin-right:auto;
  line-height:28px;				
  vertical-align: middle;
}		
#pre-activated-banner {
  color: #324716;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}
#pre-activated-banner strong{
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  padding-top: 4px;
}

#TrialBannerBtn
{
  float:right;
  width:258px;
  background-image:url('http://media1.clubpenguin.com/play/en/images/trialbanner/bar-badge.png');
  background-repeat:no-repeat;
}

#TrialBannerBtn a:link, #pre-activated-banner-btn
{				
  display:block;
  float:right;
  width:208px;
  height:28px;
  overflow:hidden;
  background: url('http://media1.clubpenguin.com/play/en/images/trialbanner/bar-button-states.png') no-repeat 0 0;
  text-decoration:none;
  font-size:12px;
}
#pre-activated-banner-btn {
  color: #014c63;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
  background: url('http://media1.clubpenguin.com/play/en/images/pre-activated-banner-button-bg.png') no-repeat 0 0;
}

#TrialBannerBtn a:hover, #pre-activated-banner-btn:hover 
{
  background-position: 0px -28px;
}

#TrialBannerBtn a:active, #pre-activated-banner-btn:active
{
  background-position: 0px -56px;
}			

#TrialText, #membership-banner-days
{			
  min-height:28px;	
  line-height:28px;
  verical-align:middle;
  color:#333333;
}

#TrialText2, #membership-banner-day
{			 
  min-height:28px;	
  line-height:28px;
  verical-align:middle;
  color:#333333;
}

#TrialText b, #membership-banner-days strong
{
  color:#000000;
  font-size:larger;
  font-weight:bolder;
}

.content-over-game {
  border: 2px solid #000000;
  border-radius: 10px;
  background: #ffffff;
  height: 100%;
  width: 995px;
}

.name-resubmission {
  height: 500px;
  width: 500px;
}