@charset "UTF-8";
/* CSS Document */

#upgrade
{
	position:absolute;
	width:760px;
	height:480px;
	margin:-234px 0 0 -380px;
	top:50%;
	left:50%;
	background-image:url('http://media1.clubpenguin.com/play/en/upgrade/images/expressInstall.png');
}

#upgradeContent
{
	position:relative;
	width:440px;
	height:290px;
	margin:0 0 0  260px;
	top:53px;
}

#upgradeText, #installText
{
	position:relative;
	width:320px;
	top:80px;
	margin:0 auto 0 auto;
}

#upgradeText h1, #installText h1
{
	font-size:16px;
	font-weight:bold;
	margin-bottom:10px;
}

#upgradeText p, #installText p
{
	font-size:14px;
	margin-bottom:10px;
}

#upgradeText p a:link, #installText p a:link
{
	color:#00ADEF;
	text-decoration:none;
}

#upgradeText p a:visited, #installText p a:visited
{
	color:#00ADEF;
	text-decoration:none;
}

#upgradeButton
{
	position:absolute;
	top:365px;
	left:405px;
	cursor:pointer;
}

#ignoreButton
{
	position:absolute;
	top:365px;
	left:95px;
	cursor:pointer;
}